<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health</title>

    {% include 'home/head.html' %}
	<body>
    {% include 'customer/menu.html' %}
    {% include 'customer/navbar.html' %}
    <div class="container mt-4">
        <h2>History
            {{goal}}
            {% if goal == request.session.goal %}
            <p><span style="color:green">You have reached your Goal</span></p>
        {% else %}
            <p><span style="color:red">You have not reached your goal</span></p>
        {% endif %}
        </h2>

        {% if goal == 'sad' %}
        <span id='doc' style="float: right; color:red">Please consult the near by Doctor as you are "{{goal}}" from the history.</span>
        
        {% else %}
            <p><span style="float: right;  color:green">Your Mental Health is Good, Will suggest to consult a Doctor if requird!!!</span></p>
        {% endif %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>username</th>
                    <th>Emotion</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in history %}
                <tr>
                    <td>{{ entry.datetime }}</td>
                    <td>{{ entry.username }}</td>
                    <td>{{ entry.emotionname }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>